name: Main GitHub Actions
 
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
 
jobs:
  test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
 
      - name: Use Node v23.11.0
        uses: actions/setup-node@v3
        with:
          node-version: 'v23.11.0'
 
      - name: Install dependencies
        run: yarn install
 
      - name: Compile TypeScript
        run: tsc
 
      - name: Run tests
        run: jest